<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :statement %>
  <%= f.text_field :statement %>
</div>

<div class="field">
  <%= f.label :logo %>
  <%= f.text_field :logo %>
</div>

<div class="field">
  <%= f.label :url %>
  <%= f.text_field :url %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :company_description %>
  <%= f.text_area :company_description %>
</div>
