<div class="form-group col-md-12">
  <%= f.label "Name" %>
  <%= f.text_field :name, class: "form-control fch" %>
</div>

<div class="form-group col-md-12">
  <%= f.label "Company Statement" %>
  <%= f.text_field :statement, class: "form-control fch" %>
</div>

<div class="form-group col-md-12">
  <%= f.label "Logo" %>
  <%= f.file_field :logo, class: "form-control fch" %>
</div>

<div class="form-group col-md-6">
  <%= f.label :url, "Company's Website URL" %>
  <%= f.text_field :url, class: "form-control fch" %>
</div>

<div class="form-group col-md-6">
  <%= f.label "Email" %>
  <%= f.text_field :email, class: "form-control fch" %>
</div>

<div class="form-group col-md-12">
  <%= f.label "Tell Us More About Your Company" %>
  <%= f.hidden_field :company_description, class: "form-control fch", id: :company_description %>
  <trix-editor input="company_description" class="teh"</trix-editor>
</div>
